@import "~bootstrap/dist/css/bootstrap.css";

.main-container {
  display: flex;
  height: 100vh;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;

    .main-scroll-container{
      overflow: auto;
      flex: 1; 
    }
  }
}

.text-bg-dark {
  .nav-link{
    color: white;
  }
  
  svg {
    fill: var(--bs-light);
  }
}